<div class="row">
  <div class="col-sm-12">
    <h1>Item Details</h1>
  </div>
</div>
<div>
  <div class="row">
    <div class="col-sm-4 text-right">Name:</div>
    <div class="col-sm-8">{{item?.name}}</div>
  </div>
  <div class="row">
    <div class="col-sm-4 text-right">Number:</div>
    <div class="col-sm-8">{{item?.number}}</div>
  </div>
  <div class="row">
    <div class="col-sm-4 text-right">Email:</div>
    <div class="col-sm-8">{{item?.email}}</div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <a [routerLink]="['/item']" class="btn btn-default">Back</a>
  </div>
  <div class="col-sm-6">
    <a [routerLink]="['/item', itemId, 'edit']" class="btn btn-primary">Edit</a>
  </div>
</div>
